<h3><%= @band.name %></h3>

<p>Here is where your band has played:</p>


<% if @band.venues().any?() %>
  <ul class="list-group">
    <% @band.venues().each() do |venue| %>
      <li class="list-group-item"><%= venue.name %></li>
    <% end %>
  </ul>
<% else %>
  <p>Your band has not played anywhere.</p>
<% end %>

<form class="form-group" action="/bands/<%= @band.id() %>" method="post">
  <label for="name">Add a new venue</label>
  <input id="band_id" name="band_id" type="hidden" value="<%= @band.id() %>">

  <select name='venue'>
    <% @venues.each() do |venue| %>
    <option value="<%= venue.id() %>"><%= venue.name() %></option>
    <% end %>
  </select>

  <button type="submit" value='submit' class="btn btn-default">Add Venue</button>
</form>

<hr>

<a href='/' class='btn btn-default'>Back to Home Page</a>

<form id="venues" action="/bands/<%= @band.id() %>" method="post">
  <input id="band_id" name="band_id" type="hidden" value="<%= @band.id() %>">

  <% @venues.each() do |venue| %>
  <input type="checkbox" name="venue" value="<%= venue.id() %>"><%= venue.name() %><br>
  <% end %>
  <button type="submit" value='submit' class="btn btn-default">Add Venue</button>
</form>


<div class="pull-right">
  <form action="/bands/<%= @band.id %>" method="post">
    <input name="_method" type="hidden" value="delete">

    <button type="submit" class="btn btn-default btn-xs btn-danger">Delete Band</button>
  </form>
</div>
