<h3><%= @venue.name %></h3>

<p>Here is what played at this venue:</p>


<% if @venue.bands().any?() %>
  <ul class="list-group">
    <% @venue.bands().each() do |band| %>
      <li class="list-group-item"><%= band.name %></li>
    <% end %>
  </ul>
<% else %>
  <p>No one has played at this venue.</p>
<% end %>

<form class="form-group" action="/venues/<%= @venue.id() %>" method="post">
  <label for="name">Add a new band</label>
  <input id="venue_id" name="venue_id" type="hidden" value="<%= @venue.id() %>">

  <select name='band'>
    <% @bands.each() do |band| %>
    <option value="<%= band.id() %>"><%= band.name() %></option>
    <% end %>
  </select>

  <button type="submit" value='submit' class="btn btn-default">Add Band</button>
</form>

<hr>

<a href='/' class='btn btn-default'>Back to Home Page</a>
